<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile already exists</title>
    <link th:replace="/fragments/header :: bootstrap-css"/>
    <link th:replace="/fragments/header :: mainstyles"/>
    <!--    put link to any extra stylesheets here-->
</head>
<body>
<div class="main-container">
    <header th:replace="/fragments/header :: navbar"></header>
    <div class="page-container">
        <h1>Error: Profile already exists.</h1>
    </div>
</div>
</body>
</html>